---
layout: categories
title: Categories
---

 <section id="categories">
      <div class="container" style="margin-top: 100px;">>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Projects</h2>
              <h3 class="section-subheading text-muted">Here you can find the full list of our projects, grouped by categories.</h3>
            </div>
          </div>

        {% assign sorted_categories = site.categories | sort %}
        
        {% for category in sorted_categories %}
          <h3 id="{{ category[0] }}">{{ category[0] }}</h3>
        
          <ul>
            {% for post in category[1] %}
              <li>
                <a href="/#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                  {{ post.title }}
                </a>
                <small>({{ post.project-date }})</small>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}

      </div>
 </section>
