<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Born in the Pyrenees, Pi Negre turns ideas into movies, board games, gear, and outdoor projects -- even those that might seem impossible.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2023</h4>
                                    <h4 class="subheading">Pi Negre is born in Carros de Foc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Carros de Foc traverse is an iconic high-mountain circular route, located in the Aigüestortes i Estany de Sant Maurici National Park in the Catalan Pyrenees. The route connects nine mountain refuges at an altitude between 1900 and 2400 meters, passing through breathtaking landscapes that include black pine forests (pi negre), over 200 glacial lakes, and rocky peaks.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2023</h4>
                                    <h4 class="subheading">Old ShMemories Premiere</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Success of the first Pi Negre's movie at its premiere, managed by Alex.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2024</h4>
                                    <h4 class="subheading">Pi Negre's first board game</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il Gioco delle (Dis)avventure.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2025</h4>
                                    <h4 class="subheading">Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pi Negre expands its horizon by producing new board games and mountain gears.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
